.pageWrapper {
  background: url(../assets/crew/background-crew-mobile.jpg) no-repeat center/cover;
  width: 100%;
  min-height: 100dvh;
}

.crewWrapper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows:
    minmax(1rem, 2rem)
    minmax(17rem, 20rem)
    minmax(10rem, 12rem);
    justify-content: center;
    align-items: center;
}

.subtitle {
  grid-row: 1/2;
  text-align: center;
  margin: auto;
  font-size: 1.1rem;
}

.leftColumn {
  grid-row: 2/3;
  margin: auto;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.memberImage {
  width: max(200px, 50%);
  height: max(200px, 55%);
}

.rightColumn {
  height: 100%;
  grid-row: 3/4;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.role {
  font-size: 1.5rem;
  display: inline;
  text-align: center;
  color: rgba(255, 255, 255, 0.589);
}

.name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  white-space: nowrap;
}

.radioInput {
  display: none;
}

.radioWrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.bio {
  font-size: 1.1rem;
  text-align: center;
}

.radioLabel {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.37);
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.radioLabel:hover {
  background-color: rgba(255, 255, 255, 0.644);
}

.radioInput:checked + .radioLabel {
  background-color: white;
}

/* Tablet */
@media screen and (min-width: 600px) {
  .pageWrapper {
    background: url(../assets/crew/background-crew-tablet.jpg) no-repeat center/cover;
  }
  .subtitle {
    text-align: start;
    width: 100%;
    max-width: 677.188px;
    height: 18px;
    margin: 7px;
  }
  .crewWrapper {
    grid-template-rows:
      minmax(1rem, 2rem)
      minmax(10rem, 11rem)
      minmax(22rem, 26rem);
  }
  .leftColumn {
    grid-row: 3/4;
    flex-flow: column-reverse nowrap;
    justify-content: start;
    gap: 20px;
  }
  .memberImage {
    width: 100%;
    max-height: 60%;
    max-width: 50%;
    position: absolute;
    bottom: 000px;
  }

  .rightColumn {
    grid-row: 2/3;
  }
  .radioWrapper {
    margin-top: 0px;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .pageWrapper {
    background: url(../assets/crew/background-crew-desktop.jpg) no-repeat center/cover;
  }
  .crewWrapper {
    grid-template-columns: 1fr 1fr;
  }
 .memberImage {
  position: absolute;
  max-width: 30%;
  height: 60%;
  right: 0;
  bottom: 0;
  gap: 20px;
 }
 .rightColumn {
  margin-top: 300px;
  align-items: start;
 }

 .bio {
  text-align: start;
  font-size: 2rem;
 }
 .role {
  font-size: 3.4rem;
 }
 .name {
  font-size: 4rem;
 }
 .radioWrapper {
  position: absolute;
  bottom: 80px;

  left: 90px;
  gap: 30px;
 }
}
