.containerImg {
  background: url(../assets/crew/background-crew-mobile.jpg) no-repeat
    center/cover;
  width: 100%;
  min-height: 100dvh;
}

.containerCrew {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows:
    minmax(1rem, 2rem)
    minmax(17rem, 20rem)
    minmax(10rem, 12rem);
}
.h2 {
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  margin: auto;
  font-size: 1.1rem;
}
.pessoa {
  grid-row-start: 2;
  grid-row-end: 3;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.pessoaImg {
  width: max(200px, 50%);
  height: max(200px, 55%);
}

.info {
  height: 100%;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
}

.role {
  display: inline;
  text-align: center;
  color: rgba(255, 255, 255, 0.589);
}

.nome {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 15px;
  white-space: nowrap;
}

.radios {
  display: none;
}

.slides {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.texto {
  font-size: 1.1rem;
  text-align: center;
}

.label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.37);
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.label:hover {
  background-color: rgba(255, 255, 255, 0.644);
}

.radios:checked + .label {
  background-color: white;
}

@media screen and (min-width: 600px) {
  .containerImg {
    background: url(../assets/crew/background-crew-tablet.jpg) no-repeat
      center/cover;
  }
  .h2 {
    text-align: start;
    width: 100%;
    max-width: 677.188px;
    height: 18px;
    margin: 7px;
  }
  .containerCrew {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows:
      minmax(1rem, 2rem)
      minmax(10rem, 11rem)
      minmax(22rem, 26rem)
  }
  .pessoa {
    grid-row-start: 3;
    grid-row-end: 4;
    flex-flow: column-reverse nowrap;
    justify-content: start;
    gap: 20px;
  }
  .pessoaImg {
    width: 100%;
    height: 100%;
    max-width: 50%;
  }
  .info {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .slides {
    margin-top: 0px;
  }
}

@media screen and (min-width: 992px) {
  .containerImg {
    background: url(../assets/crew/background-crew-desktop.jpg) no-repeat
      center/cover;
  }
}
