.pageWrapper {
  background: url(../assets/destination/background-destination-mobile.jpg)
    no-repeat center/cover;
  width: 100%;
  min-height: 100dvh;
}

.destinationWrapper {
  animation: expand 1s forwards;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:
    minmax(2rem, 2rem)
    minmax(7rem, 10rem)
    minmax(4rem, 4rem)
    9rem
    2rem
    minmax(4rem, 5rem);
}

.rightColumn {
  display: grid;
  grid-template-rows: 5rem 2rem 8rem 1rem 4rem;
}

.subtitle {
  grid-row: 1 / 2;
  text-align: center;
  margin: auto;
  font-size: 1.1rem;
}

.planetImage {
  width: 150px;
  animation: spin 10s linear infinite;
}

.imageWrapper {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radioInput {
  display: none;
}

.planetSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.planetName {
  text-align: center;
}

.radioLabel {
  padding: 5px;
  font-size: 1.2rem;
}

.radioInput:checked + .radioLabel {
  border-bottom: 1px solid white;
}

.radioLabel:hover {
  cursor: pointer;
}

.planetDescription {
  text-align: center;
  font-size: 1.2rem;
  height: 100px;
}

.divider {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.39);
}

.infoTitle {
  font-size: 0.8rem;
  color: rgba(227, 225, 255, 0.534);
}

.infoWrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.infoValue {
  font-size: 1.7rem;
  white-space: nowrap;
}

/* animações */
@keyframes expand {
  from {
    transform: scale(0) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

/* Tablet */
@media screen and (min-width: 600px) {
  .pageWrapper {
    background: url(../assets/destination/background-destination-tablet.jpg)
      no-repeat center/cover;
  }
  .subtitle {
    text-align: start;
    width: 100%;
    max-width: 677.188px;
    margin: 7px;
    height: 18px;
  }
  .planetImage {
    width: 250px;
  }
  .destinationWrapper {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows:
      minmax(1rem, 2rem)
      minmax(10rem, 19rem)
      minmax(3rem, 4rem)
      minmax(3rem, 4rem)
      minmax(7rem, 8rem)
      1rem
      minmax(6rem, 5rem);
  }
  .planetSelector {
    justify-content: center;
    gap: 10px;
  }
  .planetName {
    margin: auto;
    font-size: 3rem;
  }
  .planetDescription {
    width: 70%;
    margin: auto;
  }
  .infoTitle {
    font-size: 1rem;
  }
  .infoValue {
    font-size: 2.2rem;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .pageWrapper {
    background: url(../assets/destination/background-destination-desktop.jpg)
      no-repeat center/cover;
  }
  .destinationWrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 70dvh;
    margin: auto;
  }
  .subtitle {
    grid-column: 1/3;
  }
  .planetImage {
    width: 450px;
  }
  .imageWrapper {
    height: 100%;
  }
  .leftColumn {
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .rightColumn {
    margin: auto;
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    grid-template-rows:1fr 2rem 7rem 15rem 2rem 4rem 1fr;
    height: 100%;
    width: 80%;
  }
  .planetName {
    grid-row: 3/4;
    font-size: 4rem;
    margin-left: 0;
    text-align: start;
  }
  .planetSelector {
    align-items: center;
    justify-content: start;
    grid-row: 2/3;
  }
  .planetDescription {
    font-size: 1.5rem;
    text-align: start;
    margin-top: 0;
    margin-left: 0;
    grid-row: 4/5;
  }
  .divider {
    margin-left: 0;
    grid-row: 5/6;
  }
  .infoWrapper {
    grid-row: 6/7;
    margin-left: 0;
    text-align: start;
  }
}
