.containerImg {
  background: url(../assets/destination/background-destination-mobile.jpg)
    no-repeat center/cover;
  width: 100%;
  min-height: 100dvh;
}

.containerDestination {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows:
    minmax(1rem, 2rem)
    minmax(7rem, 10rem)
    minmax(2rem, 3rem)
    minmax(3rem, 4rem)
    minmax(7rem, 8rem)
    1rem
    minmax(4rem, 5rem);
}
.h2 {
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  margin: auto;
  font-size: 1.1rem;
}
.imgPlanet {
  width: 150px;
  animation: expand 1s forwards, girar 10s linear 1s infinite;
}
.planetSelected {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.input {
  display: none;
}

.planets {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.h1 {
  text-align: center;
}
.label {
  padding: 5px;
  font-size: 1.2rem;
}
.input:checked + .label {
  border-bottom: 1px solid white;
}
.label:hover {
  cursor: pointer;
}

.description {
  text-align: center;
  font-size: 1.2rem;
}
.line {
  margin: auto;
  width: 90%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.39);
}
.extra {
  font-size: 0.8rem;
  color: rgba(227, 225, 255, 0.534);
}
.containerInfo {
  margin-top: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.3rem;
  height: 50px;
}
.distance {
  font-size: 1.8rem;
  white-space: nowrap;
}
@keyframes expand {
  from {
    transform: scale(0) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes girar {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  .containerImg {
    background: url(../assets/destination/background-destination-tablet.jpg)
      no-repeat center/cover;
  }
  .h2 {
    text-align: start;
    width: 100%;
    max-width: 677.188px;
    margin: 7px;
    height: 18px;
  }
  .imgPlanet {
    width: 250px;
  }
  .containerDestination {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows:
      minmax(1rem, 2rem)
      minmax(10rem, 19rem)
      minmax(3rem, 4rem)
      minmax(3rem, 4rem)
      minmax(7rem, 8rem)
      1rem
      minmax(6rem, 5rem)
  }
  .planets {
    justify-content: center;
    gap: 10px;
  }
  .h1 {
    margin: auto;
    font-size: 3rem;
  }
  .description {
    width: 70%;
    margin: auto;
  }
  .extra {
    font-size: 1rem;
  }
  .distance {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 992px) {
  .containerImg {
    background: url(../assets/destination/background-destination-desktop.jpg)
      no-repeat center/cover;
  }
}
