.Header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.iconLogo {
  width: 2.5rem;
  height: 2.5rem;
}

.iconBurguer {
  width: 1.8rem;
  height: 1.6rem;
  cursor: pointer;
  z-index: 5;
}

.bgMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: rgba(66, 64, 75, 0.322);
  backdrop-filter: blur(15px);

  padding-left: 0px;
  gap: 15px;
  border-radius: 0 0 0 8px;
  z-index: 4;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.sumir {
  display: none;
}
.menuOpen {
  transform: translateX(0);
}

.menuClose {
  transform: translateX(100%);
}

.links {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.ancora {
  display: block;
}

.paginas {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 6px 10px;
}

.paginas:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

@media screen and (min-width: 600px) {
  .iconLogo {
    width: 3rem;
    height: 3rem;
  }

  .iconBurguer {
    width: 2.3rem;
    height: 2.1rem;
    cursor: pointer;
    z-index: 5;
  }
  .overlay {
    display: none;
  }
  .iconLogo {
    margin: 20px;
  }
  .links {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    padding: 0px;
    top: 0;
    right: 0;
    margin: auto;
    background-color: rgba(82, 82, 82, 0.288);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 55%;
    gap: 0px;
  }
  .ancora {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .Header {
    padding: 0px;
  }
  .paginas {
    font-size: 0.9rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 100%;
    width: 100%;
  }

  .paginas:hover {
    border-radius: 0px;
  }
}

@media screen and (min-width: 992px) {
  .sumir {
    display: block;
  }

}
