@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  color: white;
  font-family: "Bellefair", serif;
  font-weight: lighter;
  font-style: normal;
}

