.pageWrapper {
  background: url(../assets/technology/background-technology-mobile.jpg)
    no-repeat center/cover;
  width: 100%;
  min-height: 100dvh;
}

.technologyWrapper {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows:
    minmax(1rem, 2rem)
    minmax(12rem, 15rem)
    minmax(4rem, 5rem)
    minmax(4rem, 5rem)
    minmax(10rem, 12rem);
  animation: slideDown 0.5s;
}

.pageTitle {
  grid-row: 1/2;
  text-align: center;
  margin: auto;
  font-size: 1.1rem;
}

.category {
  font-weight: bold;
  margin-right: 0.5rem;
}
.landscapeImage {
  width: 100%;
  height: 80%;
}
.portraitImage {
  height: 100%;
  width: 100%;
}

.image {
  margin: auto;
}

.radioGroup {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: auto;
}

.radioInput {
  display: none;
}

.radioLabel {
  font-size: 1.5rem;
  border: 2px solid rgba(128, 128, 128, 0.137);
  padding: 7px 14px;
  border-radius: 50%;
  cursor: pointer;
}

.radioInput:checked + .radioLabel {
  background-color: white;
  color: black;
}

.techInfo {
  text-align: center;
  margin: auto;
}

.subtitle {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.534);
}

.techName {
  text-align: center;
  margin: auto;
}

.description {
  text-align: center;
  margin: 0 5%;
  font-size: 1.2rem;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (min-width: 600px) {
  .pageWrapper {
    background: url(../assets/technology/background-technology-tablet.jpg)
      no-repeat center/cover;
  }
  .technologyWrapper {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows:
      minmax(1rem, 2rem)
      minmax(12rem, 25rem)
      minmax(4rem, 5rem)
      minmax(4rem, 5rem)
      minmax(10rem, 12rem);
    animation: slideDown 0.5s;
  }
  .pageTitle {
    text-align: start;
    max-width: 677.188px;
    height: 18px;
    margin: 0 5%;
  }

  .portraitImage {
    width: 100%;
    height: 90%;
  }
  .landscapeImage {
    height: 80%;
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .technologyWrapper {
    grid-template-rows:
      minmax(1rem, 2rem)
      minmax(35rem, 80dvh);
    grid-template-columns: 1fr 3fr 3fr;
  }
  .pageTitle {
    grid-column: 1/-1;
  }
  .radioGroup {
    grid-column: 1/2;
    grid-row: 2/3;
    flex-flow: column;
    align-items: center;
    gap: 60px;
  }
  .radioLabel {
    padding: 15px 21px;
  }
  .image {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .portraitImage {
    height: 100%;
  }
  .techInfo {
    grid-row: 2/3;
  }
  .subtitle {
    text-align: start;
  }
  .techName {
    font-size: 4rem;
    text-align: start;
  }
  .description {
    font-size: 2rem;
    text-align: start;
    margin-left: 0;
    color: rgba(255, 255, 255, 0.616);
  }
}
