.containerImg {
  background: url(../assets/home/background-home-mobile.jpg) no-repeat
    center/cover;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.containerHome {
  margin: auto;
  width: 90%;
  height: 80dvh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 3fr 2fr;
}

.introducao {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: center;
  margin-top: 50px;

  .h1 {
    font-size: 5rem;
  }
  .h3 {
    font-size: 1.1rem;
  }
  .texto {
    text-align: center;
    font-size: 1rem;
  }
}

/* Elementos dentro de .introducao, só afetarão esse container */
.explore {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(0, 0, 65);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 30%;
  animation: pulse 3s infinite;

  grid-row-start: 3;
  grid-row-end: -1;
  display: flex;
}

.explore:hover {
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.521);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgb(194, 194, 194);
  }
  50% {
    box-shadow: 0 0 30px rgb(216, 216, 216);
  }
  100% {
    box-shadow: 0 0 10px rgb(194, 194, 194);
  }
}

