@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
.container {
  
}
.corpoTechnology {
  background: url(./assets/technology/background-technology-mobile.jpg)
    no-repeat center/cover;
}
.corpoDestination {
  background: url(./assets/destination/background-destination-mobile.jpg)
    no-repeat center/cover;
}
.corpoHome {
  background: url(./assets/home/background-home-mobile.jpg) no-repeat
    center/cover;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  color: white;
  font-family: "Bellefair", serif;
  font-weight: lighter;
  font-style: normal;
}

